<div class="row">

	<!-- Blog Entries Column -->
	<div class="col-md-8">

	  <h1 class="my-4">Articles in <%= @category.name %>
	  </h1>

	  <!-- Blog Post -->
	  <% @articles = Article.where('category_id=?',@category.id) %>

	  <% if @articles.empty? %>
		<p>No products found.</p>
	  <% else %>
		  <% @articles.each do |article| %>
		  <div class="card mb-4">
		  <%= image_tag(article.feature_image_url, size: "750x300", class: "card-img-top") %>
		    <div class="card-body">
		    		<h2 class="card-title"><%= article.title %></h2>
		    		<p class="card-text"><%= article.body.truncate(200) %></p>
	      			<%= link_to "Read More", article, class: "btn btn-primary" %>
		    </div>
		    <div class="card-footer text-muted">
		      Posted on <%= article.publish_date.strftime("%B %d %Y") %>
		    </div>
		  </div>
		  <% end %>
	  <% end %>

	  <%= render 'list' %>
</div>







